<!--
<h2>Admin-Grid Page</h2>
<p>This is our Admin-Grid, It will be able to create a grid for user to use.</p>
<p>The admin grid shows all the data. It allows you to choose what data the user should see.</p>
-->

<div>
    <div class="Rich_Tiles"  >
        <div class="group"> 
            <ul class="spend">
                <li id="CntrolBox0">
                    <div class="gridControlBox">
                        <h1 class="title2"  (click)="boxClick($event)">Grid Control Box</h1>
                    </div>
                </li>
                <li id="CntrlBox1" class="money" *ngIf="ifExcelFile && ifGridControlBox" >
                    <div class="li_content">
                        <h1 #title class="title"
                            (mouseenter)="title.style = 'background-color:black;'"
                            (mouseleave)="title.style = 'background-color:transparent;'"
                            (click)="controlClick($event)"
                        >Grid Controls</h1>
                        <form id="controls" class="contentContainer" (submit)="controlChange();">
                            <select class="contentFormat" name="choice">
                                <optgroup label="Grid Commands">
                                    <option value="reset">Reset Grid</option>
                                    <option value="export">Export Grid to User</option>
                                </optgroup>
                                <optgroup label="Edit Rows">
                                    <option value="addrow">Add a Row</option>
                                    <option value="deleterow">Delete a Row</option>
                                </optgroup>
                            </select>
                            <button class="contentFormat" type="submit">Execute</button>
                        </form>
                    </div>
                </li>
                <li id="CntrlBox2" class="money" *ngIf="!ifExcelFile && ifGridControlBox">    
                    <div class="li_content">
                        <h1 #title2 class="title" 
                            (mouseenter)="title2.style = 'background-color:black;'"
                            (mouseleave)="title2.style = 'background-color:transparent;'"
                            (click)="controlClick($event)"
                        >Input Data</h1>
                        <!--ExcelSheet Component-->
                        <div class="contentContainer">
                            <app-excelsheet class="contentFormat" (dataEvent)="receiveData($event)"></app-excelsheet>
                        </div>
                    </div>
                </li>
                <li id="CntrlBox3" class="money" *ngIf="ifExcelFile && ifGridControlBox">    
                    <div class="li_content">
                        <h1 #title3 class="title" 
                            (mouseenter)="title3.style = 'background-color:black;'"
                            (mouseleave)="title3.style = 'background-color:transparent;'"
                            (click)="controlClick($event)"
                        >Grid Formatting Tools</h1>
                        <div style="display: flex;margin: auto;width: 60%;">
                            <button class="contentFormat" name="sizeUpButton" (click)="gridSizeUp()">+</button>
                            <label class="contentFormat" for="sizeDownButton">Resize Grid</label>
                            <button class="contentFormat" name="sizeDownButton" (click)="gridSizeDown()">-</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div> 
    </div>
</div>
<div *ngIf="somebool" style="font-size:40px;text-align:center;display:flex;">User has edited the Data</div>
<div>
    <mat-tab-group (selectedIndexChange)="tabChanged($event)">
        <mat-tab *ngFor= "let ind of db.getDatabase(); let i = index;" label={{db.database[i].workSheetName}}>
            <div id="gridcontainer" [style]="getGridStyle()">
                <app-admingrid
                    [columnInfo]="db.database[i].columns"
                    [myRowData]="db.database[i].rows"
                    [sheetName]="db.database[i].workSheetName"
                >
                </app-admingrid>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>
