<h2>Admin-Grid Page</h2>
<p>This is our Admin-Grid, It will be able to create a grid for user to use.</p>
<p>The admin grid shows all the data. It allows you to choose what data the user should see.</p>
<!--ExcelSheet Component-->

<app-excelsheet (dataEvent)="receiveData($event)" (dataEvent2) = "receiveMatrixData($event)" [role]="role"></app-excelsheet>

<div *ngIf="ifExcelFile==true">
<div class = "gridControlBox">
    <p style="text-align:center">Grid Control Box</p>
    <div class="controlButtons"> 
        <label style="text-align:center">
        <p>Grid Controls</p>
        <div>
        <label for="resetButton">Resets Grid</label>
        <button (click)="resetGrid()" name="resetButton">Reset</button>
        <label for ="exportButton">Export Grid To User</label>
        <button (click)="exportState()"name="exportButton">Export</button>
        <label for = "addRowButton">Add Row</label>
        <button (click)="addARow()">Add</button>
        </div>
        </label>
        <label style="margin-left:5px;font-size:20px">
        <p style="text-align:center">Grid size tools</p>
        <div>
        <label for ="sizeUpButton">Increase size of Grid</label>
        <button name="sizeUpButton" (click)="gridSizeUp()">+</button>
        <label for="sizeDownButton">Decrease size of Grid</label>
        <button name="sizeDownButton" (click)="gridSizeDown()">-</button>
        </div>
        </label>
    
    </div>
            
    </div>
</div>

<div>
    <mat-tab-group (selectedIndexChange)="tabChanged($event)">
        <mat-tab *ngFor= "let ind of indexArr" label="{{excelSheet.SheetNames[ind]}}">
            <div id="gridcontainer" style="height:750px;">
                <app-admingrid 
                [index] = "ind"
                [excelData] = "excelData" 
                [excelSheet] = "excelSheet">   
                </app-admingrid>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>
