.gridControlBox{

    width:fit-content;
    margin:15px auto;
    transition: all 2s;
}

.controlButtons{
    font-size:20px;
    border:solid #000000 5px;
    border-radius:100px;
    width:fit-content;
}

p{
    font-size:20px;
}
div.Rich_Tiles {
	height: 100%;
	width: 100%;
	display: inline-block;
	margin: 0;
}
div.group {
	display: inline-block;
	width: 100%;
}
Ul.spend {
    display: flex;
    flex-wrap: wrap;
	margin: auto;
	width: 100.0%;
	height: 100%;
	padding: 0.1%;
}
li.money-Carlsbad {
	display:inline-block;
	width:30%;
	height: 75px;
	background: #00AFE9;
	background: linear-gradient(#ccf2ff, #BED733, #BED733, #ccf2ff);
/*	background: linear-gradient(#58595B,#00AFE9,#58595B); */
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	overflow: hidden;
	transition: height 2s, width 2s;
	margin: 25px auto;
	border: 2px solid #F7901E;
	border-radius: 30px;
	color:black;
}
li.money-highlight {
	width:65%;
	height: 75px;

	background: #00AFE9;
	background: linear-gradient(#ccf2ff, #BED733, #BED733, #ccf2ff);
/*	background: linear-gradient(#58595B,#00AFE9,#58595B); */
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	overflow: hidden;
	transition: height 2s, width 2s;
	margin: 25px auto;
	border: 2px solid #F7901E;
	border-radius: 30px;
	color:black;
}
li.money {
	width: 15%;
    min-width: 175px;
	height: 30px;
    display: inline-block;
	background: #84be18;
	background: linear-gradient(#807e80,#84be18,#84be18,#84be18,#84be18,#807e80);
/*	background: linear-gradient(#58595B,#00AFE9,#58595B); */
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	overflow: hidden;
	transition: all 2s;
	margin: 9px auto;
	border: 2px solid #F7901E;
	border-radius: 30px;
	color:rgb(255, 255, 255);
}
li.money a:visited
	{
	color: lightgray;
}
li.money a:hover
	{
	color: red;
}
li.money a:active
	{
	color: purple;
}
.expand-control-text
	{
	color: brown;
	font-weight: bold;
}
h1.title
	{
	font-size: 1em;
    color: white;
	text-align: center;
/*	font-family: "Monotype Corsiva", Times, serif; */
	text-decoration: underline;
	padding: top 4px bottom 15px;
/*	padding-bottom: 30px; */
	transition: all 0.5s;
}
h1.title2
	{
    width: fit-content;
    margin:auto;
	font-size: 2em;
	text-align: center;
/*	font-family: "Monotype Corsiva", Times, serif; 
	text-decoration: underline; */
	padding: 6px 15px 6px 6px;
	transition: all 0.5s;
    border-radius: 30px;
    border: 2px solid #e74701;
}
.title2::after{
    text-align: center;
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active::after {
    content: "\2212" ;
}

.active, .title2:hover {
    background-color: #555;
    color:white;
  }