<h2>Admin-Grid Page</h2>
<p>This is our Admin-Grid, It will be able to create a grid for user to use.</p>
<p>The admin grid shows all the data. It allows you to choose what data the user should see.</p>
<!--ExcelSheet Component-->

<app-excelsheet (dataEvent)="receiveData($event)"></app-excelsheet>

<div>
<div class = "gridControlBox">

    <p style="text-align:center">Grid Control Box</p>
    <div class="controlButtons"> 
        <label style="text-align:center">
        <p>Grid Controls</p>
        <div>
        <label for="resetButton">Resets Grid</label>
        <button (click)="resetGrid()" name="resetButton">Reset</button>
        <label for ="exportButton">Export Grid To User</label>
        <button (click)="exportState()"name="exportButton">Export</button>
        <label for = "addRowButton">Add Row</label>
        <button (click)="addARow()">Add</button>
        <label for = "deleteRowButton">Delete Row</label>
        <button (click)="deleteRow()">delete</button>
        </div>
        </label>
        <label style="margin-left:5px;font-size:20px">
        <p style="text-align:center">Grid size tools</p>
        <div>
        <label for ="sizeUpButton">Increase size of Grid</label>
        <button name="sizeUpButton" (click)="gridSizeUp()">+</button>
        <label for="sizeDownButton">Decrease size of Grid</label>
        <button name="sizeDownButton" (click)="gridSizeDown()">-</button>
        </div>
        </label>
    
    </div>
            
    </div>
</div>

<div *ngIf="somebool" style="font-size:40px;text-align:center;display:flex;">User has edited the Data</div>

<div>
    <mat-tab-group (selectedIndexChange)="tabChanged($event)">
bartbranch
        <mat-tab *ngFor= "let ind of db.getDatabase(); let i = index;" label={{db.database[i].workSheetName}}>
            <div id="gridcontainer" [style]="getGridStyle()">
                <app-admingrid
                    [columnInfo]="db.database[i].columns.columns"
                    [myRowData]="db.database[i].rows"
                    [sheetName]="db.database[i].workSheetName"
                >
                </app-admingrid>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>
