<h2>User-Grid Page</h2>
<p>This is our User-Grid</p>
<p>This will show a grid designed by the Admin</p>

<p style="font-size:50px; "*ngIf="isDataSet==false">Create DB in Admin</p>

<label for="addRowButton"></label>
<button (click) = "addARow()" name="addRowButton">Add a row</button>

<div>
    <mat-tab-group (selectedIndexChange)="tabChanged($event)">
        <mat-tab *ngFor = "let ind of db.getDatabase(); let i = index;" label={{db.database[i].workSheetName}}>
            <div id="gridcontainer">
                <app-usergrid
                    [myColData]="db.database[i].columns.columns"
                    [myRowData]="db.database[i].rows"
                    [sheetName]="db.database[i].workSheetName"
                >
                </app-usergrid>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>