<!--<h2>User-Grid Page</h2>
<p>This is our User-Grid</p>
<p>This will show a grid designed by the Admin</p>-->

<div>
    <div class="Rich_Tiles"  *ngIf="isDataSet">
        <div class="group"> 
            <ul class="spend">
                <li id="CntrolBox0">
                    <div class="gridControlBox">
                        <h1 class="title2"  (click)="boxClick($event)">Grid Control Box</h1>
                    </div>
                </li>
                <li id="CntrlBox1" class="money" *ngIf="ifGridControlBox" >
                    <div class="li_content">
                        <h1 #title class="title"
                            (mouseenter)="title.style = 'background-color:black;'"
                            (mouseleave)="title.style = 'background-color:transparent;'"
                            (click)="controlClick($event)"
                        >Grid Controls</h1>
                        <form id="controls" class="contentContainer" (submit)="controlChange();">
                            <select class="contentFormat" name="choice">
                                <optgroup label="Grid Commands">
                                </optgroup>
                                <optgroup label="Edit Rows">
                                    <option value="1">Add a Row</option>
                                </optgroup>
                            </select>
                            <button class="contentFormat" type="submit">Execute</button>
                        </form>
                    </div>
                </li>
                <li id="CntrlBox2" class="money" *ngIf="ifGridControlBox">    
                    <div class="li_content">
                        <h1 #title3 class="title" 
                            (mouseenter)="title3.style = 'background-color:black;'"
                            (mouseleave)="title3.style = 'background-color:transparent;'"
                            (click)="controlClick($event)"
                        >Grid Formatting Tools</h1>
                        <div style="display: flex;margin: auto;width: 60%;">
                            <button class="contentFormat" name="sizeUpButton" (click)="gridSizeUp()">+</button>
                            <label class="contentFormat" for="sizeDownButton">Resize Grid</label>
                            <button class="contentFormat" name="sizeDownButton" (click)="gridSizeDown()">-</button>
                        </div>  
                            <div>
                                <button class="contentFormat" (click)="progressColor()">Get Colors</button>
                            </div>
                     
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<p style="font-size:50px; "*ngIf="isDataSet==false">Create DB in Admin</p>
<div>
    <mat-tab-group (selectedIndexChange)="tabChanged($event)">
        <mat-tab (click)="this.progressColor()" *ngFor = "let ind of db.getDatabase(); let i = index;" label={{db.database[i].workSheetName}}>
            <div id="gridcontainer" [style]="getGridStyle()">
           
                <app-usergrid
                    [currGrid] ="i"
                    [myColData]="db.database[i].columns"
                    [myRowData]="db.database[i].rows"
                    [sheetName]=db.currWorkSheet.value
                >
                </app-usergrid>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>